.links__container{
    display: flex;
    align-items: center;

    .links__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        list-style: none;

        .link__item {
            padding: 1rem;
            
            a {
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                color: var(--white);  
            }
        }
        
    }
}






