.partner__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem 0;

    h1, h2, h3, h4, p {
        color: var(--indigo);
        margin: 1rem 0;
    }

    .partner__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .partner__card {
            margin: 1rem 0;
            width: 75%;
    
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    
}

@media only screen and (min-width: 1024px) {

    .partner__wrapper {
        width: 90%;
  
    .partner__container {
        flex-direction: row;
        gap: 4rem;
        flex-wrap: nowrap;


          .partner__card {
            width: 30% !important;
        }
      }
    }

      
}