.how__icon__wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    .icon__container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto;
        padding: 1em 2rem;

        .icon__img{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem auto;
            padding: 1rem;
            height: 7rem;
            width: 9rem;
            background-color: transparent;
            border-radius: 10px 10px 10px 0%;

            figure{
                height: 90%;
                width: 90%;
            }
        }

        .icon__info{
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: left;
            color: var(--indigo);
            max-width: 40ch;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .how__icon__wrapper {
        flex-direction: row;
      }
}