.icon__wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    .icon__container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto;
        padding: 1em 2rem;

        .icon__img{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem auto;
            padding: 1rem;
            height: 6rem;
            width: 8rem;
            background-color: var(--lilac);
            border-radius: 10px 10px 10px 0%;

            figure{
                img{
                    height: 80%;
                    width: 80%;
                }
            }
        }

        .icon__info{
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: left;
            color: var(--indigo);
            max-width: 40ch;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .icon__wrapper {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 1em 1em; 
        grid-template-areas: 
          "div1 div2"
          "div3 div4"
          ". . ";
      }
      div:nth-child(1) { grid-area: div1; }
      div:nth-child(2) { grid-area: div2; }
      div:nth-child(3) { grid-area: div3; }
      div:nth-child(4) { grid-area: div4; }

      .icon__container {
        .icon__img {
            width: 10rem !important;
            height: 8rem !important;
        }
      }
      
}