.hero__wrapper, .hero_home_wrapper {
    width: 100vw;
    background-color: var(--champagne);

    .hero__container, .hero_home_container{
        display: flex;
        flex-direction: column;
        padding: 9rem 2rem 2rem 2rem;
        margin: 0 auto;
    
        .hero__figure img, .hero_home_figure img {
            width: 100%;
            max-height: 30vh;
            margin-bottom: 2rem;
        }
    
        .hero__info, .hero_home_info{
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 1rem;
            margin: 0 auto;
            color: var(--indigo);

            p{
                max-width: 50ch;
            }
        }
    }
}




@media only screen and (min-width: 1024px) {
    .hero__wrapper{
        .hero__container {
            flex-direction: row-reverse;
            padding: 9rem 1.5rem 1.5rem 1.5rem;
            max-width: 1200px;
      
            .hero__figure {
                min-width: 50vw;
    
                img {
                    height: 50vh;
                    max-height: 50vh;
                    margin-bottom: 1rem;
                }
            }
    
            .hero__info {
                display: flex;
                justify-content: center;
                max-width: 40%;
                justify-content: flex-start;
                gap:1rem;
            } 
        }   
    }
    

    .hero_home_wrapper{
        .hero_home_container {
            flex-direction: row-reverse;
            padding: 9rem 1.5rem 0 1.5rem;
            justify-content: space-between;
            gap: 1rem;
            align-items: flex-start;
            .hero_home_figure {
                min-width: 50vw;
                margin-bottom: 0;
    
                img {
                    max-height: 50vh;
                    margin-bottom: 0;
                    
                    
                }
            }
    
            .hero_home_info {
                display: flex;
                justify-content: center;
                max-width: 40%;
                justify-content: flex-start;
                gap:1rem;
                padding-bottom: 2rem;

                     p{
                        max-width: 28ch;
                 
                     }
            } 
        }   
    }
    
}

@media only screen and (min-width: 1440px) {
    .hero__wrapper{
        .hero__container {

.hero__info{
    margin-left: 0;
}
}
}

.hero_home_wrapper{
    .hero_home_container {
        align-items: stretch;
       
        .hero_home_info p{
            max-width: 50ch;
     
         }
}
}
}