.hero__wrapper {
    width: 100vw;
    background-color: var(--champagne);

    .hero__container{
        display: flex;
        flex-direction: column;
        padding: 6rem 2rem 2rem 2rem;
        max-width: 1920px;
        margin: 0 auto;
    
        .hero__figure img {
            width: 100%;
            max-height: 30vh;
            margin-bottom: 2rem;
        }
    
        .hero__info{
            display: flex;
            flex-direction: column;
            text-align: center;
            text-align: left;
            max-width: 75%;
            margin: 0 auto;
            color: var(--indigo);
        }
    }
}



@media only screen and (min-width: 1024px) {
    .hero__wrapper{
        .hero__container {
            flex-direction: row-reverse;
            padding: 6rem 1rem 1rem 1rem;
    
            .hero__figure {
                min-width: 50vw;
    
                img {
                    max-height: 50vh;
                    margin-bottom: 1rem;
                }
            }
    
            .hero__info {
                display: flex;
                justify-content: center;
                max-width: 25%;
            } 
        }   
    }
    

}