.css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-of-type{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background-color: var(--champagne) !important;
    color: var(--indigo) !important;
    box-shadow: none !important;
}

.css-1sxsdsv-MuiTypography-root{
    font-family: "poppins", sans-serif !important;
    font-size: 1rem !important;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
    flex-direction: row-reverse;
    gap:1rem;
    width: 105%;
}
.css-i4bv87-MuiSvgIcon-root {
    color: transparent !important;
    width: 0.6em !important;
    height: 0.8em !important;
    background-image: url(../../../assets/pile.svg);
    background-size: cover;
    transform: rotate(180deg);
    
}