.ItemWrapper{
    background-color: var(--champagne);
    padding-top: 2rem;
    overflow: hidden;
    
    .BgIllu{
        // position: relative;
        height: 60vh;
        width: 100vw;
        display: flex;

        img {
            height: 115%;
            width: 110%;
        }

        a {
            position: absolute;
            right: calc(0% + 20px) ;

        }
    }
}


































// .BgIllu{
//     display: flex;
// background-image: url(./hand.svg);
// background-position: right;
// background-size: 80vw 130vh;
//     width: 100vw;
//     height: 70vh;
//     padding-top: 12rem;
//         object-fit: cover;
//         background-repeat: no-repeat;
//         -webkit-box-pack: center;
//         -webkit-justify-content: center;
//         -ms-flex-pack: center;
//         justify-content: center;
//         background-origin: content-box;
//         grid-column: 1;
//         grid-row: 1;
// }

// .TextWrapper{
//     display: flex;
// flex-direction: column;
// gap:1rem;
// align-items: center;
// justify-content: flex-start;
// height: fit-content;
// grid-column: 1;
//   grid-row: 1;

// }


// .TextContainer {
// background-color: var(--darkGreen);
// width:35vw;
// height:4rem;

// display: flex;
// align-items: center;
// justify-content: center;
// text-align: center;
// border-radius: 10px 10px 10px 0%;
// }


// .Text {
//  padding:0.5rem;
// }

// @media screen and (min-width: 1024px) {


//     .BgIllu {
//         height: 60vh;
//         padding-top: 12rem;
//         background-size: 45vw 70vh;
//     }

//     .TextWrapper {
//         width: 50vw;
//         padding-left: 73vw;
//         gap: 2rem;
//     }
//     .TextContainer {
//         width: 16vw;
//         max-width: 250px;
//         height: 5rem;
//     }
//     //ipad pro
//     @media screen and (height: 1366px) {
//         .BgIllu {
//             height: 50vh;}

//     }
//     }
//     //Nest Hub Max
//     @media screen and (min-width: 1280px) {


//         .BgIllu {
//             padding-top: 8rem;    
//         }
//     }

