.illu__container {
    display: flex;
    align-items: center;
    object-fit: contain;

    .illu__img{
        width: 100vw ;
        height: auto;
    }
    .illu__img_main {
        width: 100vw ;
        height: auto;
 

        img {
            width: 100%;
            height: 100%;
          }
    }
}
