.illu__container {
    display: flex;
    align-items: center;
    object-fit: cover;

    .illu__img{
        width: auto ;
        height: 50vh;
    }
    .illu__img_main {
        width: 110vw ;
        height: auto;
 

        img {
            width: 100%;
            height: 100%;
          }
    }
}
