.card__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
 
    img{
        width: 50%;
        height: 50%;
        margin:auto;
        margin-top: 2rem;
    }
    .card__container, .card_home_container {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        margin: 0 auto;
        padding: 2rem;
        flex-direction: column;        
        .card__header {
            text-align: left;
        }
    
        .card__text {
            text-align: left;
            min-width: 35ch;
            max-width: 50ch;
        }
    }
    
}


@media only screen and (min-width: 1024px) {

    .card__wrapper {
        img{
            // flex: 1;
            margin: 0 ;
            padding: 2rem;
        }
        
        .card__container {
            // flex:2;
            justify-content: flex-start;
            align-items: flex-start;
        .card__text {
            max-width: 100%;
        }

        .text1, .text2{
            max-width: 600px;
        }
    }

    .card_home_container {
        max-width: 60%;
        justify-content: flex-start;
        margin-left: 2rem;
        padding-top:0;
        margin-top: -40vh;
    }
    }
}